<% provide(:title, "Bon Iver já cancelou?") %>
<h1>O Bon Iver já cancelou? Não!</h1>
<p>
  This is the home page for the
  <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.
</p>